@import "tailwindcss";
@import "tailwindcss-animated";

:root {
  --background: #0000;
  --foreground: #FFFFFF;
  --primary: #F0BB67;
  --primary-100: #F0B267;
  --primary-200: #826436;
  --secondary: #563F22;
  --secondary-500: #1D160E;
  --secondary-100: #1D1D20;
  --muted: #4D4D4D
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-secondary: var(--secondary);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-100: var(--secondary-100);
  --font-inter: var(--font-inter);
  --font-merri-weather: var(--font-merri-weather);
  --color-muted: var(--muted)
}


  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }


body {
  background: var(--background);
  color: var(--foreground);
}




/* Loader animation for sending messages */
.loader {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#666 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
